[
  {
    "sourceTable": "table",
    "sourceColumns": [
      "id"
    ],
    "destinationTable": "anotherTable",
    "destinationColumns": [
      "id"
    ]
  },
  {
    "sourceTable": "exampleTable",
    "sourceColumns": [
      "firstColumn", "secondColumn"
    ],
    "destinationTable": "anotherExampleTable",
    "destinationColumns": [
      "thirdColumn", "forthColumn"
    ]
  }
]
